.accordion {
  position: relative;
}

.accordion-collapse {
  position: absolute;
  z-index: 2;
  top: 3.4rem;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e1dfdf;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.accordion-collapse::after {
  content: "";
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 1px;
}

.accordion-button.collapsed::after {
  background: url(../../../../assets/svg/plus.svg);
}

.accordion-button:not(.collapsed)::after {
  background: url(../../../../assets/svg/minus.svg);
  transform: rotate(0);
}
